<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title layout:title-pattern="Best car in this World">Car</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="~{width=device-width, initial-scale=1}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-theme.min.css" />
</head>
<style>
    .pagination-div{user-select: none;}
    .pagination-div span{border-radius:3px;border:1px solid #999;
        padding:5px;margin:10px 0px 0px 10px;display:inline-block}
    span.selected{background:#ccf;}
</style>
<body>
<div class="container">
    <div class="page-header">

        <h1>Car <small>The best car's offer</small></h1>
        <h4>
            <a href="/">Browse ads</a> | <a href="/newoffer">Add offer</a>
        </h4>
    </div>
    <div layout:fragment="content">
        The correct view content will be inserted here.

    </div>
</div>
</body>
</html>