<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${offer.title}">Szczegóły oferty</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="${offer.title}"></h1>
    <h2>
        Cena:
        <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
        zł
    </h2>
    <table th:object="${offer}" class="table">
        <tr>
            <th>Marka:</th>
            <td th:text="*{model.manufacturer.name}"></td>
            <th>Nadwozie:</th>
            <td th:text="|*{bodyStyle.name} *{doors}D|"></td>
        </tr>
        <tr>
            <th>Model:</th>
            <td th:text="*{model.name}"></td>
            <th>Kolor:</th>
            <td th:text="*{colour}"></td>
        </tr>
        <tr>
            <th>Rok produkcji:</th>
            <td th:text="*{year}"></td>
            <th>Przebieg:</th>
            <td th:text="*{mileage}"</td>
        </tr>
        <tr>
            <th>Pojemność:</th>
            <td th:text="*{engineSize}"></td>
            <th>Moc Silnika</th>
            <td th:text="*{enginePower}"></td>
        </tr>
        <tr>
            <th>Rodzaj paliwa:</th>
            <td th:text="*{getFuelType().getName()}"></td>
            <th></th>
            <td></td>
        </tr>
    </table>
    <div th:text="${offer.description}" class="well">
    </div>
    <div>
        <a th:href="|/deleteoffer/${offer.id}|" class="btn btn-danger">Usuń ogłoszenie</a>
        <a th:href="|/editoffer/${offer.id}|" class="btn btn-primary">Edytuj ogłoszenie</a>
    </div>
</section>
</body>
</html>